<h1>Parcial final programación distribuida y paralela</h1>
<h2>Por:Angel Manuel Góez Giraldo | 1036658046</h2>

<%= link_to 'Nuevo curso', cursos_path %>
<%= link_to 'Nueva inscripción', inscripciones_path %>


